<div
  class="group relative bg-transparent p-6 hover:ring-black focus-within:ring-2 focus-within:ring-inset focus-within:ring-slate-500 sm:rounded-tr-lg">
  <div>
    <span class="inline-flex rounded-lg shadow p-2 bg-purple-200 bg-opacity-70  ">
      <%= image_tag 'cam1.svg' , class: "h-8 w-8" %>
    </span>
  </div>
  <div class="mt-8">
    <h3 class=" text-3xl leading-6 mb-4 text-purple-700">
      <a href="#" class="focus:outline-none">
        <!-- Extend touch target to entire panel -->
        <span class="absolute inset-0" aria-hidden="true"></span>
        Scanner
      </a>
    </h3>
    <p class="isolate mt-2 text-md text-gray-900">
      Scan
      <%= link_to 'QRCodes', 'https://qrgo.fly.dev/scan.html', class: "text-purple-700 underline" %>
      , Documents, or
      <%= link_to 'Count Inventory' , '#', class: "text-purple-700 underline" %>
      with bubble.
    </p>
  </div>
  <span class="pointer-events-none absolute right-6 top-6 text-gray-700 group-hover:text-gray-400" aria-hidden="true">
    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
    </svg>
  </span>
</div>