<div
  class=" bg-transparent group relative rounded-tl-lg rounded-tr-lg  p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 sm:rounded-tr-none">
  <div class="">
    <span class="inline-flex shadow rounded-lg bg-teal-100 bg-opacity-70 p-2 text-teal-700 ">
      <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" aria-hidden="true"
           data-slot="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </span>
  </div>
  <div class="mt-8">
    <h3 class=" text-3xl  mb-4 leading-6 text-teal-700">
      <a href="#" class="focus:outline-none">
        <!-- Extend touch target to entire panel -->
        <span class="absolute inset-0 " aria-hidden="true"></span>
        Inventory
      </a>
    </h3>
    <p class="isolate leading-6 text-teal-700">

    </p>
    <p class="mt-2 text-md text-gray-900">
      <%= link_to 'Click here', thnk_products_path, class: "text-teal-700 underline" %>
      to manage inventory across multiple platforms
    </p>

  </div>
  <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">

        <svg class="h-6 w-6 text-slate-600" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
    </svg>

  </span>
</div>